@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-offset-3 col-md-6 bg-success">
    <h1 class="text-capitalize text-center">Интернет-магазин</h1>
    <p class="text-uppercase text-center">Домашнее задание. "Школа молодого программиста"</p>
</div>

<div class="row">
    <div class="bg-info col-md-6 text-center">
        <h2>Категории товаров</h2>
        <p>
            @Html.ActionLink("Просмотр категорий", "Index", "Product")
        </p>
    </div>
    <div class="bg-info col-md-6 text-center">
        <h2>Управление магазином</h2>
        <p>@Html.ActionLink("Вход для администратора", "Index", "ShopManager")</p>
    </div>    
</div>